<ion-view view-title="Rating">
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Please select rating
      </div>
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </label>
    <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
    </label <div class="padding-horizontal">
    <button class="button button-block button-positive">Submit</button>
  </div>
  <ion-item class="item-text-wrap">
    <span class="badge badge-energized">5.0</span>
    <h2>User Name</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </ion-item>
</ion-content>
</ion-view>
