<ion-view view-title="Event Name">
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" href="#">
				<span class="item-note">
			<button class="button button-danger">
				Rate
			</button>
			</span>
				<h2>Sohan</h2>

			</a>
			<a class="item item-icon-left" href="#">
				<span class="item-note">
			<button class="button button-danger">
				Rate
			</button>
			</span>
				<h2>  Rohan</h2>
			</a>
			<a class="item item-icon-left" href="#">
				<span class="item-note">
			<button class="button button-danger">
				Rate
			</button>
			</span>
				<h2>	 Mahesh</h2>
			</a>
			<a class="item item-icon-left" href="#">
				<span class="item-note">
			<button class="button button-danger">
				Rate
			</button>
			</span>
				<h2> Amit</h2>
				</span>
			</a>
			<a class="item item-icon-left" href="#">
				<span class="item-note">
			<button class="button button-clam">
				Rate
			</button>
			</span>
				<h2>Jagruti</h2>
			</a>
		</div>
	</ion-content>
</ion-view>