<ion-view view-title="Rating">
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Please select rating
      </div>
      <select ng-model="form.score">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </label>
    <label class="item item-input">
      <textarea ng-model="form.comment" placeholder="Comments"></textarea>
    </label>
    <div class="padding-horizontal" ng-click="postRate(form)">
      <button class="button button-block button-positive">Submit</button>
    </div>

  
  </ion-content>
</ion-view>
